.home-img{
    position: fixed;
    top: 30px;
    left: 50px;
    height: 60px;
    width: 60px;
}

.home-img:hover{
    transition: 0.3s;
    transform: scale(1.1);
}

@media screen and (min-width: 330px)and (max-width: 500px){
    .home-img{
        height: 45px;
        width: 45px;
        top: 90vh;
        left: 80vw;
    }
}
