.notes-container{
    padding: 10px;
    width: 90%;
    height: 80vh;
    overflow-y: scroll ;
}

@media screen and (min-width: 330px) and (max-width: 550px){
    .notes-container{
        height: 80vh;
        width: 90%;
    }
}
