.button-container{
    display: flex;
    justify-content: center;
}

.add-show-btn{
    padding: 10px 30px;
    display: block;
    margin: 30px ;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    text-decoration: none;
}

.features-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media screen and (min-width: 350px)and (max-width: 550){
    .heading{
        font-size: 55px;
    }

    .button-container{
        position: fixed;
        bottom: 15px;
        justify-content: space-between;
    }


    .add-show-btn{
        padding: 6px 15px;
        font-size: 10px;
    }

    .features-container{
        justify-content: space-around;
    }
}